.footerContact {
  background-color: #ff6922;
  padding: 40px 0;
  color: #fff;
}
.footerContact h1 {
  font-size: 40px;
}
footer {
  background-color: #1d2636;
  padding: 50px 0;
  color: #fff;
}
footer .container {
  display: grid;
  grid-template-columns: 6fr 5fr;
  grid-gap: 20px;
}
footer img {
  width: 150px;
}
footer h2 {
  font-weight: 500;
}
footer p {
  color: grey;
  margin: 20px 0;
}
footer input {
  background-color: #fff;
  padding: 17px;
  width: 100%;
  border-radius: 5px;
}
footer h3 {
  font-weight: 500;
  margin-bottom: 30px;
}
footer ul {
  display: block;
}
footer ul li {
  display: block;
  color: grey;
  margin-bottom: 20px;
}
.legal {
  text-align: center;
  padding: 20px;
  background: #1d2636;
  color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .nimmo{
  color: #ff6922;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
}
footer .hover:hover{
  color: #ff6922;
  margin-right: 20px;
}
footer .grid7{
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
}
/* footer .respon{
  display: grid;
  grid-template-columns: repeat(3,1fr);
} */

@media screen and (max-width: 1200px) {


}
@media screen and (max-width: 800px) {
  footer .container {
    /* grid-template-columns: repeat(2, 1fr); */
    display: flex;
    flex-direction: column;
  }
  .send{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .send h1{
    font-size: 22px;
  }
  .send.btn5{
    font-size: 18px;
    color: red;
  }
    footer .grid7{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
   }
   footer .hover{
    line-height: 0.5;
  }
}
@media screen and (max-width: 400px){
  section .send{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .hover{
    line-height: 0;
  }
  /* footer .respon{
    display: flex;
  } */
}


